<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QXBK2</display-name>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.servlet.util.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/QXBK2/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.servlet.util.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/QXBK2/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAction</servlet-name>
    <servlet-class>com.servlet.util.SearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAction</servlet-name>
    <url-pattern>/QXBK2/SearchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateEntryAction</servlet-name>
    <servlet-class>com.servlet.user.CreateEntryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEntryAction</servlet-name>
    <url-pattern>/QXBK2/CreateEntryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInfoAction</servlet-name>
    <servlet-class>com.servlet.user.ChangeInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfoAction</servlet-name>
    <url-pattern>/QXBK2/ChangeInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassEntryAction</servlet-name>
    <servlet-class>com.servlet.manager.PassEntryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassEntryAction</servlet-name>
    <url-pattern>/QXBK2/PassEntryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEntryAction</servlet-name>
    <servlet-class>com.servlet.manager.DeleteEntryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEntryAction</servlet-name>
    <url-pattern>/QXBK2/DeleteEntryAction</url-pattern>
  </servlet-mapping>
</web-app>